.footer {
  background-color: #2F324B;
  padding: 45px 30px;
}

.container-footer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 19px;
}

.footer__phone-icon-footer {
  display: none;
}

.footer__text {
  font-family: "Roboto Medium";
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  color: #FFF;
}

.footer__copy-text {
  max-width: 127px;
  text-align: left;
}

.footer__author-text {
  text-align: center;
}

.footer__logo {
  width: 68px;
  height: 68px;
  cursor: pointer;
}

.footer__phone {

}

@media (max-width: 1024px) {
  .footer {
    padding: 37px 30px 49px 30px;
  }

  .container-footer {
    max-width: 964px;
  }

  .footer__logo {
    width: 60px;
    height: 60px;
  }


}

@media (max-width: 320px) {
  .footer {
    padding: 25px 15px;
  }

  .container-footer {
    max-width: 290px;
  }

  .footer__logo {
    width: 30px;
    height: 30px;
  }

  .footer__text {
    max-width: 87px;
    font-size: 8px;
    line-height: 11px;
  }
  
  .footer__copy-text {
    max-width: 87px;
  }
}