html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Roboto Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  background-color: #fff;
}

.section {
  margin: 0;
  padding: 0 30px 0 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

h1,
h2,
h3,
p,
figure,
fieldset,
section {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

li {
  padding: 0;
  margin: 0;
}

img,
svg {
  margin: 0;
  padding: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  margin: 0;
  padding: 0;
  max-height: 100%;
}

button {
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.section__header {
  font-family: "Roboto Bold", sans-serif;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 1024px) {
  .container {
    max-width: 964px;
  }

  .section__header {
    font-size: 32px;
  }
}

@media (max-width: 440px) {
  .container {
    max-width: 290px;
  }
}