.question {
  position: relative;
  padding: 70px 0;
  background-image: url("../images/callback_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.question::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(47, 50, 75, 0.85);
  background-blend-mode: multiply;
  z-index: -1;
}

.container--section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.section__title--bold {
  color: rgba(255, 255, 255, 0.86);
}

.section__title-bottom {
  margin-bottom: 17px;
  margin-left: -25px;
}

.question__text-bottom {
  font-size: 22px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.86);
}

.question__form {
  margin: 0 auto;
  max-width: 1200px;
}

.question__fieldset {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: center;
  max-width: 423px;
  margin: 0 auto;
}

.question__input {
  padding: 9px 25px;
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid var(--white);
  text-align: left;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  width: 100%;
}

.question__button {
  padding: 13px 39px;
  background-color: var(--dark-blue);
  border: none;
  border-radius: 55px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  color: var(--white);
  margin-bottom: 50px;
}

.question__button-text {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  text-transform: lowercase;
}

.question__agreement {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: var(--white);
}

.question__agreement-link {
  color: var(--grey);
  text-decoration: none;
  border-bottom: 1px solid var(--grey);
}

@media (max-width: 1024px) {
  .question {
    padding: 64px 0 56px 0;
  }

  .container--section {
    max-width: 780px;
    padding: 0 30px;
  }

  .section__title-bottom {
    margin-bottom: 10px;
    margin-left: -9px;
  }

  .question__text-bottom {
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    padding-left: 15px;
}

  .question__form {
    max-width: 780px;
  }

  .question__input {
    padding: 8px 23px;
    font-size: 20px;
    line-height: 23px;
  }

  .question__fieldset {
    padding: 48px 0;
    gap: 18px;
    max-width: 379px;
  }

  .question__button {
    margin-bottom: 30px;
    padding: 13px 38px;
  }
  
  .question__button-text {
    font-size: 20px;
    line-height: 23px;
  }

  .question__button-text {
    font-size: 20px;
    line-height: 23px;
  }

  .question__agreement {
    font-size: 17px;
    line-height: 20px;
  }
}

@media (max-width: 440px) {
  .question  {
    padding: 30px 0;
  }

  .question__form {
    max-width: 290px;
    padding: 0 15px;
  }

  .question__fieldset {
    max-width: 290px;
  }
}

@media (max-width: 320px) {
  .question  {
    padding: 30px 0;
  }

  .container--section {
    padding: 0 15px;
  }

  .section__title-bottom {
    margin-bottom: 13px;
    margin-left: -2px;
}

  .question__fieldset {
    padding: 35px 0 44px 0;
    gap: 13px;
    max-width: 290px;
  }

  .question__form {
    max-width: 290px;
    padding: 0;
  }

  .question__input {
    padding: 6px 18px;
    font-size: 20px;
    line-height: 23px;
    font-size: 14px;
    line-height: 16px;
  }

  .question__button {
    padding: 10px 26px;
    width: 174px;
  }
  
  .question__button-text {
    font-size: 16px;
    line-height: 18.75px;
    text-transform: none;
  }

  .question__text-bottom {
    padding: 0;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
  }

  .question__agreement {
    font-size: 11px;
    line-height: 13px;
  }
}