.question {
  background: rgba(47, 50, 75, 0.85);
  background-image: url("../images/callback_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

.section__title--bold {
  color: rgba(255, 255, 255, 0.86);
}

.section__title-bottom {
  margin-bottom: 17px;
}

.question__text-bottom {
  color: rgba(255, 255, 255, 0.86);
}

.question__form {
  margin: 0 auto;
  max-width: 1200px;
}

.question__fieldset {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: center;
}

.question__input {
  padding: 9px 25px;
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid #FFF;
  text-align: left;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  width: 423px;
}

.question__button {
  padding: 11px 38px;
  background-color: #15A9CB;
  border: none;
  border-radius: 25px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  color: #FFF;
  margin-bottom: 50px;
}

.question__button-text {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
}

.question__agreement {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: #FFF;
}

.question__agreement-link {
  color: #4A76A8;
  text-decoration: none;
  border-bottom: 1px solid #4A76A8;
}

@media (max-width: 1024px) {
  .section__title-bottom {
    margin-bottom: 16px;
  }

  .question__form {
    max-width: 780px;
  }

  .question__input {
    padding: 8px 23px;
    font-size: 20px;
    line-height: 23px;
    width: 379px;
  }

  .question__fieldset {
    gap: 20px;
  }

  .question__button {
    margin-bottom: 30px;
  }
  
  .question__button-text {
    font-size: 20px;
    line-height: 23px;
  }

  .question__button-text {
    font-size: 17px;
    line-height: 20px;
  }

  .question__agreement {
    font-size: 17px;
    line-height: 20px;
  }
}

@media (max-width: 320px) {
  .question  {
    padding: 30px 15px;
  }

  .section__title-bottom {
    margin-bottom: 11px;
  }

  .question__fieldset {
    padding: 35px 0 45px 0;
    gap: 15px;
  }

  .question__form {
    max-width: 290px;
  }

  .question__input {
    padding: 6px 18px;
    font-size: 20px;
    line-height: 23px;
    width: 290px;
  }

  .question__button {
    padding: 10px 26px;
    width: 174px;
  }
  
  .question__button-text {
    font-size: 16px;
    line-height: 18px;
  }

  .question__button-text {
    font-size: 11px;
    line-height: 13px;
  }

  .question__agreement {
    font-size: 11px;
    line-height: 13px;
  }
}